<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-button" hint="ADD SHIPPING LABELS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="Create Shipping Labels" icon="contentlayout" [onClick]="addBatch"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #customerGrid
  [dataSource]="batchDatasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  (onRowDblClick)="editBatch($event)">

  <dxo-selection mode="multiple" ></dxo-selection>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="createdDate"[sortOrder]="'asc'"></dxi-column>
  <dxi-column dataField="createdBy"></dxi-column>
  <dxi-column dataField="id"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="trash" hint="DELETE" [onClick]="deleteBatch"></dxi-button>
  </dxi-column>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isLabelsVisible$ | async"
  [width]="'65%'"
  [height]="'90%'"
  (onHiding)="closeBatchModal()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        ADD {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isLabelsVisible$ | async">
        <div>
          <app-shippingLabelList #shippinglabellist [batchId]="selectedBatch.id"></app-shippingLabelList>
        </div>
        <div class="row">
          <div class="add-item-modal__button-group_wide">
           <dx-button
              text="Generate Labels"
              stylingMode="contained"
              type="normal"
              [disabled]="inProgress$ | async"
              (onClick)="generateShippingLabels()">
            </dx-button>
            <dx-button
              text="Set 'FROM' Address"
              stylingMode="contained"
              type="normal"
              [disabled]="inProgress$ | async"
              (onClick)="setFromAddress()">
            </dx-button>
            <dx-button
              text="Close"
              stylingMode="contained"
              type="normal"
              [disabled]="inProgress$ | async"
              (onClick)="closeBatchModal()">
            </dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isFromAddressVisible$ | async"
  [width]="'40%'"
  [height]="'40%'"
  (onHiding)="closeFromAddressModal()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        Set 'From' Address
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isLabelsVisible$ | async">
        <div>
          <dx-form
            #addEditForm
            [(formData)]="selectedBatch.shipFrom"
            [showColonAfterLabel]="false"
            labelLocation="left"
            [colCount]="1">
            <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
              <dxi-item dataField="name" [label]="{ text: 'Name' }" [colSpan]="1" [isRequired]="true"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="6" [colSpan]="1">
              <dxi-item dataField="addressLine1" [colSpan]="6" [label]="{ text: 'Address1' }" [isRequired]="true"></dxi-item>
              <dxi-item dataField="cityLocality" [colSpan]="2" [label]="{ text: 'City' }" [isRequired]="true"></dxi-item>
              <dxi-item [colSpan]="2" [label]="{ text: 'State' }" [isRequired]="true">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="states"
                    [displayExpr]="'value'"
                    [valueExpr]="'key'"
                    [(value)]="selectedBatch.shipFrom.stateProvince">
                  </dx-lookup>
                </div>
              </dxi-item>
              <dxi-item dataField="postalCode" [colSpan]="2" [label]="{ text: 'Zip' }" [isRequired]="true"></dxi-item>
              <dxi-item [colSpan]="3" [label]="{ text: 'Country' }" [isRequired]="true">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [displayExpr]="'value'"
                    [valueExpr]="'key'"
                    [items]="countries"
                    [(value)]="selectedBatch.shipFrom.countryCode">
                  </dx-lookup>
                </div>
              </dxi-item>
              <dxi-item dataField="phone" [colSpan]="3" [label]="{ text: 'Phone' }" [isRequired]="true"></dxi-item>
            </dxi-item>
          </dx-form>
        </div>
        <div class="row">
          <div class="add-item-modal__button-group_wide">
            <dx-button
              text="Cancel"
              stylingMode="contained"
              type="normal"
              [disabled]="inProgress$ | async"
              (onClick)="closeFromAddressModal()">
            </dx-button>
            <dx-button
              text="Save"
              stylingMode="contained"
              type="normal"
              [disabled]="inProgress$ | async"
              (onClick)="saveFromAddress()">
            </dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup
  [showTitle]="true"
  title="Shipping Label Results"
  [dragEnabled]="false"
  [visible]="isResultsVisible$ | async"
  [width]="'20%'"
  [height]="'25%'"
  (onHiding)="closeResultsModal()">
  <div class="row" *ngIf="isResultsVisible$ | async">
    <div>
      <span>Total Requests Made: {{this.labelResults.length}}</span>
    </div>
    <div>
      <span>Total Successful: {{getCount(this.labelResults, 'CREATED')}}</span>
    </div>
    <div>
      <span>Total Failed: {{getCount(this.labelResults, 'FAILED')}}</span>
    </div>
  </div>
  <div class="row">
    <div class="add-item-modal__button-group_wide">
      <dx-button
        text="Close"
        stylingMode="contained"
        type="normal"
        [disabled]="inProgress$ | async"
        (onClick)="closeResultsModal()">
      </dx-button>
    </div>
  </div>
</dx-popup>
