<div class="content-block responsive-paddings">
  <app-list-header [title]="itemType + 's'" [actions]="actions"></app-list-header>
</div>

<div class="table-scroll">
<table mat-table [dataSource]="(courses$ | async) ?? []" class="courses-table">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let item">{{ item.title }}</td>
  </ng-container>

  <ng-container matColumnDef="resources">
    <th mat-header-cell *matHeaderCellDef>Resources</th>
    <td mat-cell *matCellDef="let item">{{ item.resources }}</td>
  </ng-container>

  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef>Length</th>
    <td mat-cell *matCellDef="let item">{{ item.length }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-column">Actions</th>
    <td mat-cell *matCellDef="let item" class="actions-column">
      <button mat-icon-button matTooltip="DELETE" (click)="delete(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Filter row: one operator+value filter per filterable column, mirroring dxo-filter-row -->
  <ng-container matColumnDef="title-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('title', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="resources-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('resources', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="length-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('length', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="actions-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showEditModal(row)"></tr>
</table>
</div>
