<app-data-grid
  [showColumnsButton]="false"
  [showExportButton]="false"
  [title]="itemType + 's'"
  [headerActions]="headerActions"
  [columns]="columns"
  [rowActions]="rowActions"
  [rows]="(locations$ | async) ?? []"
  [loading]="(loading$ | async) ?? false"
  tableClass="locations-table"
  initialSortKey="name"
  initialSortDirection="asc"
  exportFileName="locations.xlsx"
  (rowDoubleClick)="showEditModal($event)">
  <ng-template appDataGridCell="phone" let-row>
    {{ row.phone?.countryCode ? '+' + row.phone.countryCode : '' }} {{ row.phone ? (row.phone | phoneNumberMask: false) : '' }}
  </ng-template>
</app-data-grid>
