<div class="manager-content">
  @if (selectedTab === 'Purchases') {
    <app-purchase-report></app-purchase-report>
  }
  @if (selectedTab === 'Subscribers') {
    <app-subscriber-report></app-subscriber-report>
  }
  @if (selectedTab === 'Contacts') {
    <app-contact-report></app-contact-report>
  }
  @if (selectedTab === 'Events') {
    <app-event-report></app-event-report>
  }
  @if (selectedTab === 'Digital Book Users') {
    <app-digital-book-user-report></app-digital-book-user-report>
  }
  @if (selectedTab === 'Commissions') {
    <app-commissions-report></app-commissions-report>
  }
</div>
