<div class="manager-content">
  <ng-template [ngIf]="selectedTab === 'Products'">
    <app-products></app-products>
  </ng-template>

  <ng-template [ngIf]="selectedTab === 'Purchases'">
    <app-purchases></app-purchases>
  </ng-template>

  <ng-template [ngIf]="selectedTab === 'Fulfillment'">
    <app-fulfillment></app-fulfillment>
  </ng-template>

  <ng-template [ngIf]="selectedTab === 'Coupons'">
    <app-coupons></app-coupons>
  </ng-template>

  <ng-template [ngIf]="selectedTab === 'Sales'">
    <app-sales></app-sales>
  </ng-template>
</div>
