<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-button" hint="MANAGE HOME PAGE POP UPS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="New" icon="add" [onClick]="showAddModal"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  (onRowDblClick)="showEditModal($event)">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-scrolling mode="virtual"></dxo-scrolling>

  <dxi-column dataField="isActive" dataType="boolean" [caption]="'Live'" cellTemplate="isActiveCellTemplate" [width]="120"></dxi-column>
  <dxi-column dataField="fromDate" [dataType]="'date'"></dxi-column>
  <dxi-column dataField="toDate" [dataType]="'date'"></dxi-column>
  <dxi-column dataField="title"></dxi-column>
  <dxi-column dataField="width" [dataType]="'number'"></dxi-column>
  <dxi-column dataField="height" [dataType]="'number'"></dxi-column>
  <dxi-column dataField="bgColor"></dxi-column>
  <dxi-column dataField="text" [visible]="false"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let cell of 'isActiveCellTemplate'">
    <span class="active-template" [style.background-color]="cell.data.isActive ? '#29d029' : 'red'">
      {{ cell.data.isActive ? 'LIVE' : 'INACTIVE' }}
    </span>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'60%'"
  [height]="'60%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="top" location="after" *ngIf="isVisible$ | async">
    <div *dxTemplate>
      <dx-switch [(value)]="selectedItem.isActive" [switchedOnText]="'Live'" [switchedOffText]="'Hidden'" [width]="100"></dx-switch>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="row">
      <div class="col-3">
        <div class="add-item-modal">
          <div class="add-item-modal__content" *ngIf="isVisible$ | async">
            <dx-form #addEditForm [colCount]="2" [(formData)]="selectedItem">
              <dxi-item
                dataField="fromDate"
                editorType="dxDateBox"
                [label]="{ text: 'From Date' }"
                [colSpan]="2"
                [isRequired]="true"
                [editorOptions]="{
                  displayFormat: 'M/d/yyyy, HH:mm',
                  type: 'datetime',
                  dateSerializationFormat: 'yyyy-MM-ddTHH:mm:ss',
                  useMaskBehavior: true
                }">
              </dxi-item>
              <dxi-item
                dataField="toDate"
                editorType="dxDateBox"
                [label]="{ text: 'To Date' }"
                [colSpan]="2"
                [isRequired]="true"
                [editorOptions]="{
                  displayFormat: 'M/d/yyyy, HH:mm',
                  type: 'datetime',
                  dateSerializationFormat: 'yyyy-MM-ddTHH:mm:ss',
                  useMaskBehavior: true
                }">
              </dxi-item>
              <dxi-item dataField="title" [label]="{ text: 'Title' }" [colSpan]="2" [isRequired]="true"></dxi-item>
              <dxi-item dataField="width" [label]="{ text: 'Popup Width (px)' }" [colSpan]="2" [isRequired]="true" editorType="dxNumberBox"></dxi-item>
              <dxi-item dataField="height" [label]="{ text: 'Popup Height (px)' }" [colSpan]="2" [isRequired]="true" editorType="dxNumberBox"></dxi-item>
              <dxi-item dataField="bgColor" [label]="{ text: 'Background Color' }" [colSpan]="2" [isRequired]="true" editorType="dxColorBox"></dxi-item>
              <dxi-item>
                <app-indicator-button
                  [isInProgress]="inProgress$ | async"
                  [title]="'Preview'"
                  [disabled]="inProgress$ | async"
                  (onClick)="showPreview(selectedItem)"
                ></app-indicator-button>
              </dxi-item>
            </dx-form>
          </div>
          <div class="add-item-modal__button-group pb-2">
            <dx-button
              text="CANCEL"
              stylingMode="contained"
              type="normal"
              [disabled]="inProgress$ | async"
              (onClick)="onCancel()"
            ></dx-button>
            <app-indicator-button
              [isInProgress]="inProgress$ | async"
              [title]="'SAVE'"
              [disabled]="inProgress$ | async"
              (onClick)="onSave(selectedItem)"
            ></app-indicator-button>
          </div>
        </div>
      </div>
      <div class="col-9">
        <ng-container *ngIf="selectedItem">
          <dx-html-editor [height]="'450px'" [(value)]="selectedItem.text" []>
            <dxo-toolbar [multiline]="false">
              <dxi-item name="undo"></dxi-item>
              <dxi-item name="redo"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item
                name="size"
                [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                [options]="{ inputAttr: { 'aria-label': 'Font size' } }">
              </dxi-item>
              <dxi-item
                name="font"
                [acceptedValues]="[
                  'Arial',
                  'Courier New',
                  'Georgia',
                  'Impact',
                  'Lucida Console',
                  'Tahoma',
                  'Times New Roman',
                  'Verdana'
                ]"
                [options]="{ inputAttr: { 'aria-label': 'Font family' } }">
              </dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="bold"></dxi-item>
              <dxi-item name="italic"></dxi-item>
              <dxi-item name="strike"></dxi-item>
              <dxi-item name="underline"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="alignLeft"></dxi-item>
              <dxi-item name="alignCenter"></dxi-item>
              <dxi-item name="alignRight"></dxi-item>
              <dxi-item name="alignJustify"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="orderedList"></dxi-item>
              <dxi-item name="bulletList"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item
                name="header"
                [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                [options]="{ inputAttr: { 'aria-label': 'Header' } }">
              </dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="color"></dxi-item>
              <dxi-item name="background"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="link"></dxi-item>
              <dxi-item name="image"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="clear"></dxi-item>
              <dxi-item name="codeBlock"></dxi-item>
              <dxi-item name="blockquote"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="insertTable"></dxi-item>
              <dxi-item name="deleteTable"></dxi-item>
              <dxi-item name="insertRowAbove"></dxi-item>
              <dxi-item name="insertRowBelow"></dxi-item>
              <dxi-item name="deleteRow"></dxi-item>
              <dxi-item name="insertColumnLeft"></dxi-item>
              <dxi-item name="insertColumnRight"></dxi-item>
              <dxi-item name="deleteColumn"></dxi-item>
            </dxo-toolbar>
          </dx-html-editor>
        </ng-container>

      </div>
    </div>
  </div>
</dx-popup>

<ng-container *ngIf="isPreviewVisible$ | async">
  <dx-popup
    [showTitle]="false"
    [hideOnOutsideClick]="true"
    [title]="selectedItem?.title"
    [dragEnabled]="false"
    [visible]="isPreviewVisible$ | async"
    [width]="selectedItem?.width + 'px'"
    [height]="selectedItem?.height + 'px'"
    [showCloseButton]="true"
    (onInitialized)="onPreviewPopupInitialized($event)"
    (onHiding)="onCancelPreview()">
      <div style="margin:0; padding:0; width: 100%; height: 100%; color: #fff; display:flex; align-items:center; justify-content:center;" [style.background-color]="selectedItem.bgColor">
        <div style="margin:0; padding:0;" [innerHTML]="selectedItem?.text"></div>
      </div>
  </dx-popup>
</ng-container>

