<div class="manager-content">
  @if (selectedTab === 'Disciple Making Minute') {
    <app-dmms></app-dmms>
  }

  @if (selectedTab === 'Web Config') {
    <app-web-config></app-web-config>
  }

  @if (selectedTab === 'Pod Casts') {
    <app-pod-casts></app-pod-casts>
  }

  @if (selectedTab === 'Testimonials') {
    <app-testimonials></app-testimonials>
  }

  @if (selectedTab === 'Home Page Images') {
    <app-home-page-images></app-home-page-images>
  }
  @if (selectedTab === 'Monthly Newsletter') {
    <app-monthly-newsletters></app-monthly-newsletters>
  }

  @if (selectedTab === 'Team Page') {
    <app-team-page></app-team-page>
  }
</div>
