<div class="column-filter">
  @if (needsValue) {
    <input
      class="column-filter__input"
      [type]="inputType"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onValueChange($any($event.target).value)">
  }
  @if (!needsValue) {
    <span class="column-filter__label">{{ currentLabel }}</span>
  }

  <button
    type="button"
    mat-icon-button
    class="column-filter__operator"
    [matMenuTriggerFor]="menu"
    [matTooltip]="currentLabel"
    aria-label="Choose filter condition">
    @if (hasChosenOperator && currentOption; as chosen) {
      @if (chosen.icon) {
        <mat-icon>{{ chosen.icon }}</mat-icon>
      }
      @if (chosen.glyph) {
        <span class="column-filter__glyph">{{ chosen.glyph }}</span>
      }
    } @else {
      <mat-icon>filter_alt</mat-icon>
    }
  </button>
</div>

<mat-menu #menu="matMenu">
  @for (op of operators; track op) {
    <button mat-menu-item (click)="selectOperator(op.value)">
      <span class="column-filter__menu-icon">
        @if (op.icon) {
          <mat-icon>{{ op.icon }}</mat-icon>
        }
        @if (op.glyph) {
          <span class="column-filter__menu-glyph">{{ op.glyph }}</span>
        }
      </span>
      <span>{{ op.label }}</span>
    </button>
  }
</mat-menu>
