<app-data-grid
  [showColumnsButton]="false"
  [showExportButton]="false"
  [title]="itemType + 's'"
  [headerActions]="headerActions"
  [columns]="columns"
  [rowActions]="rowActions"
  [rows]="(items$ | async) ?? []"
  [loading]="(loading$ | async) ?? false"
  tableClass="dmms-table"
  [initialSortKey]="'date'"
  initialSortDirection="desc"
  exportFileName="dmms.xlsx"
  (rowDoubleClick)="showEditModal($event)">
  <ng-template appDataGridCell="isActive" let-row>
    <span class="active-template" [style.background-color]="row.isActive ? '#1d8a46' : '#c62828'">
      {{ row.isActive ? 'LIVE' : 'INACTIVE' }}
    </span>
  </ng-template>
</app-data-grid>
