<mat-sidenav-container class="impact-shell">
  <mat-sidenav class="impact-drawer" mode="side" [opened]="true" disableClose>
    <div class="drawer-logo">
      <img src="assets/Impact-Logo_Light.png" height="120px" alt="Impact Disciples logo">
    </div>

    <mat-nav-list class="impact-drawer__list">
      <a
        mat-list-item
        *ngFor="let item of secureNav"
        [routerLink]="['/', item.path]"
        routerLinkActive="impact-drawer__link--active"
        class="impact-drawer__link">
        <mat-icon matListItemIcon>{{ iconFor(item) }}</mat-icon>
        <span matListItemTitle class="impact-drawer__link-text">{{ item.text }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="impact-shell__content">
    <mat-toolbar class="impact-header">
      <span class="impact-header__spacer"></span>
      <app-new-record-alerts></app-new-record-alerts>
      <button mat-button type="button" (click)="logOff()">Log Off</button>
    </mat-toolbar>

    <div class="portal-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
