<app-popup-header [title]="data.title" [showCloseButton]="true" (closed)="onCancel()"></app-popup-header>

<mat-dialog-content>
  <div class="picker__breadcrumb">
    <button mat-icon-button type="button" [disabled]="!currentPath" (click)="navigateUp()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <span class="picker__breadcrumb-label">{{ currentFolderLabel }}</span>
  </div>

  @if (loading) {
    <div class="picker__loading">
      <mat-spinner diameter="28"></mat-spinner>
    </div>
  }

  @if (!loading) {
    <div class="picker__list">
      @for (folder of folders; track folder) {
        <div class="picker__row" (dblclick)="navigateInto(folder)">
          <mat-icon class="picker__icon">folder</mat-icon>
          <span class="picker__name">{{ folder.name }}</span>
          <button mat-button type="button" (click)="navigateInto(folder)">OPEN</button>
        </div>
      }
      @if (!folders.length) {
        <div class="picker__empty">No sub-folders here</div>
      }
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="onCancel()">CANCEL</button>
  <button mat-raised-button color="primary" type="button" (click)="onSelectFolder()">SELECT THIS FOLDER</button>
</mat-dialog-actions>
