<app-popup-header title="NEW DIRECTORY" [showCloseButton]="true" (closed)="onCancel()"></app-popup-header>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Folder Name</mat-label>
    <input matInput formControlName="name" required cdkFocusInitial>
    @if (form.get('name')?.hasError('required')) {
      <mat-error>Folder name is required</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="onCancel()">CANCEL</button>
  <button mat-raised-button color="primary" type="button" (click)="onCreate()">CREATE</button>
</mat-dialog-actions>
