.table-scroll {
  overflow-x: auto;
}

.users-table {
  width: 100%;
}

.actions-column {
  text-align: right;
}

.users-table .mat-mdc-row:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}
