<app-popup-header [title]="(isEdit ? 'EDIT' : 'ADD') + ' NOTIFICATIONS'" [showCloseButton]="true" (closed)="onCancel()"></app-popup-header>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Body</mat-label>
    <textarea matInput formControlName="body" rows="8"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" [disabled]="inProgress$ | async" (click)="onCancel()">CANCEL</button>
  <app-indicator-button
    title="SEND"
    [isInProgress]="inProgress$ | async"
    [disabled]="inProgress$ | async"
    (onClick)="onSave()">
  </app-indicator-button>
</mat-dialog-actions>
