<app-list-header [title]="itemType">
  <button mat-raised-button color="primary" type="button" class="columns-button" [matMenuTriggerFor]="columnsMenu">
    <mat-icon>view_column</mat-icon>
    Columns
  </button>
  <mat-menu #columnsMenu="matMenu">
    <button mat-menu-item *ngFor="let column of columns" (click)="$event.stopPropagation(); toggleColumn(column)">
      <mat-checkbox [checked]="column.visible" (click)="$event.stopPropagation(); toggleColumn(column)">{{ column.label }}</mat-checkbox>
    </button>
  </mat-menu>

  <button mat-raised-button color="primary" type="button" (click)="exportExcel()">
    <mat-icon>file_download</mat-icon>
    Export to Excel
  </button>
</app-list-header>

<div class="table-scroll">
<app-table-loading-overlay [loading]="loading$ | async"></app-table-loading-overlay>
<table mat-table [dataSource]="(notifications$ | async) ?? []" class="notifications-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let item">{{ item.id }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let item">{{ item.email }}</td>
  </ng-container>

  <ng-container matColumnDef="dateRegistered">
    <th mat-header-cell *matHeaderCellDef>Date Registered</th>
    <td mat-cell *matCellDef="let item">{{ item.dateRegistered | date: 'MM/dd/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="dateRemoved">
    <th mat-header-cell *matHeaderCellDef>Date Removed</th>
    <td mat-cell *matCellDef="let item">{{ item.dateRemoved | date: 'MM/dd/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="fcmId">
    <th mat-header-cell *matHeaderCellDef>Fcm Id</th>
    <td mat-cell *matCellDef="let item">{{ item.fcmId }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-column">Actions</th>
    <td mat-cell *matCellDef="let item" class="actions-column">
      <button mat-icon-button matTooltip="Send Notification" (click)="showEditModal(item)">
        <mat-icon>comment</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Filter row: one operator+value filter per filterable column, mirroring dxo-filter-row -->
  <ng-container matColumnDef="id-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('id', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="email-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('email', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="dateRegistered-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="dateOperators" type="date" (filterChange)="onFilterChange('dateRegistered', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="dateRemoved-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="dateOperators" type="date" (filterChange)="onFilterChange('dateRemoved', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="fcmId-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('fcmId', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="actions-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
