<app-list-header [title]="itemType + 's'" [actions]="actions">
  <button mat-raised-button color="primary" type="button" class="columns-button" [matMenuTriggerFor]="columnsMenu">
    <mat-icon>view_column</mat-icon>
    Columns
  </button>
  <mat-menu #columnsMenu="matMenu">
    <button mat-menu-item *ngFor="let column of columns" (click)="$event.stopPropagation(); toggleColumn(column)">
      <mat-checkbox [checked]="column.visible" (click)="$event.stopPropagation(); toggleColumn(column)">{{ column.label }}</mat-checkbox>
    </button>
  </mat-menu>

  <button mat-raised-button color="primary" type="button" (click)="exportExcel()">
    <mat-icon>file_download</mat-icon>
    Export to Excel
  </button>
</app-list-header>

<div class="table-scroll">
<app-table-loading-overlay [loading]="loading$ | async"></app-table-loading-overlay>
<table mat-table [dataSource]="(seminars$ | async) ?? []" class="seminars-table">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let item">{{ item.date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="eventCoordinator">
    <th mat-header-cell *matHeaderCellDef>Coordinator</th>
    <td mat-cell *matCellDef="let item">{{ item.eventCoordinator }}</td>
  </ng-container>

  <ng-container matColumnDef="preferredLocationName">
    <th mat-header-cell *matHeaderCellDef>Location Name</th>
    <td mat-cell *matCellDef="let item">{{ item.preferredLocationName }}</td>
  </ng-container>

  <ng-container matColumnDef="requestedDate">
    <th mat-header-cell *matHeaderCellDef>Requested Date</th>
    <td mat-cell *matCellDef="let item">{{ item.requestedDate | date }}</td>
  </ng-container>

  <ng-container matColumnDef="requestedStartTime">
    <th mat-header-cell *matHeaderCellDef>Start Time</th>
    <td mat-cell *matCellDef="let item">{{ item.requestedStartTime | date: 'HH:mm' }}</td>
  </ng-container>

  <ng-container matColumnDef="requestedEndTime">
    <th mat-header-cell *matHeaderCellDef>End Time</th>
    <td mat-cell *matCellDef="let item">{{ item.requestedEndTime | date: 'HH:mm' }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let item">{{ item.email }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-column">Actions</th>
    <td mat-cell *matCellDef="let item" class="actions-column">
      <button mat-icon-button matTooltip="DELETE" (click)="delete(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Filter row: one operator+value filter per filterable column, mirroring dxo-filter-row -->
  <ng-container matColumnDef="date-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="dateOperators" type="date" (filterChange)="onFilterChange('date', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="eventCoordinator-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('eventCoordinator', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="preferredLocationName-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('preferredLocationName', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="requestedDate-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="dateOperators" type="date" (filterChange)="onFilterChange('requestedDate', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="requestedStartTime-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="requestedEndTime-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="email-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('email', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="actions-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showEditModal(row)"></tr>
</table>
</div>
