<app-popup-header [title]="'Order ' + (item.receipt || item.id)" [showCloseButton]="true" (closed)="onClose()"></app-popup-header>

<mat-dialog-content class="order-workflow-dialog">
  <div class="order-workflow-dialog__customer">{{ customerName() }} &mdash; {{ itemSummary() }}</div>
  <div class="order-workflow-dialog__date">{{ $any(item.dateProcessed) | date: 'medium' }}</div>

  <div class="segbar">
    @for (step of steps; track step; let i = $index) {
      <div class="segbar__seg" [class]="'segbar__seg--' + segmentState(i)"></div>
    }
  </div>
  <div class="segbar__labels">
    @for (step of steps; track step) {
      <span class="segbar__label">{{ step.statusLabel }}</span>
    }
  </div>

  <div class="order-workflow-dialog__actions">
    @switch (item.fulfillmentStatus) {
      @case ('new') {
        <button mat-raised-button color="primary" type="button" (click)="acknowledgeOrder()">
          <mat-icon>check_circle</mat-icon>
          Acknowledge Order
        </button>
      }
      @case ('received') {
        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="printing"
          (click)="printShippingLabel()">
          <mat-icon>local_shipping</mat-icon>
          Print Shipping Label
        </button>
        <button mat-stroked-button type="button" matTooltip="For orders picked up in person or hand-delivered - skips straight to Closed" (click)="markPickedUp()">
          Mark as Picked Up / Delivered
        </button>
      }
      @case ('shipping_label_printed') {
        <button mat-raised-button color="primary" type="button" (click)="markPackaged()">
          <mat-icon>inventory_2</mat-icon>
          Mark as Packaged
        </button>
      }
      @case ('awaiting_shipping') {
        <button mat-raised-button color="primary" type="button" (click)="markShipped()">
          <mat-icon>local_shipping</mat-icon>
          Mark as Shipped
        </button>
      }
      @case ('closed') {
        <div class="order-workflow-dialog__done">This order is closed.</div>
      }
    }
  </div>

  @if (canViewPurchase()) {
    <div class="order-workflow-dialog__footer">
      <button mat-button color="primary" type="button" (click)="viewPurchase()">
        <mat-icon>receipt_long</mat-icon>
        View Purchase
      </button>
    </div>
  }
</mat-dialog-content>
