<app-list-header [title]="itemType + 's'" [actions]="actions"></app-list-header>

<div class="table-scroll">
  <app-table-loading-overlay [loading]="loading$ | async"></app-table-loading-overlay>
  <table mat-table [dataSource]="(coupons$ | async) ?? []" class="coupons-table">
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Live</th>
      <td mat-cell *matCellDef="let item">
        <span class="active-template" [style.background-color]="item.isActive ? '#29d029' : 'red'">
          {{ item.isActive ? 'LIVE' : 'INACTIVE' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let item">{{ item.code }}</td>
    </ng-container>

    <ng-container matColumnDef="percentOff">
      <th mat-header-cell *matHeaderCellDef>Percent Off</th>
      <td mat-cell *matCellDef="let item">{{ item.percentOff }}%</td>
    </ng-container>

    <ng-container matColumnDef="affilliateName">
      <th mat-header-cell *matHeaderCellDef>Affiliate Name</th>
      <td mat-cell *matCellDef="let item">{{ item.affilliateName }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-column">Actions</th>
      <td mat-cell *matCellDef="let item" class="actions-column">
        <button mat-icon-button matTooltip="DELETE" (click)="delete(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Filter row: one operator+value filter per filterable column, mirroring dxo-filter-row -->
    <ng-container matColumnDef="isActive-filter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <ng-container matColumnDef="code-filter">
      <th mat-header-cell *matHeaderCellDef>
        <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('code', $event)"></app-column-filter>
      </th>
    </ng-container>

    <ng-container matColumnDef="percentOff-filter">
      <th mat-header-cell *matHeaderCellDef>
        <app-column-filter [operators]="numberOperators" type="number" (filterChange)="onFilterChange('percentOff', $event)"></app-column-filter>
      </th>
    </ng-container>

    <ng-container matColumnDef="affilliateName-filter">
      <th mat-header-cell *matHeaderCellDef>
        <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('affilliateName', $event)"></app-column-filter>
      </th>
    </ng-container>

    <ng-container matColumnDef="actions-filter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showEditModal(row)"></tr>
  </table>
</div>
