.button-with-indicator {
  min-width: 150px;

  &__content-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__title {
    white-space: nowrap;
  }

  &__indicator {
    ::ng-deep circle {
      stroke: currentColor;
    }
  }
}
