<div class="manager-content">
  @if (selectedTab === 'Summit') {
    <app-events [summitMode]="true"></app-events>
  }

  @if (selectedTab === 'Events') {
    <app-events [summitMode]="false"></app-events>
  }

  @if (selectedTab === 'Coaches') {
    <app-coaches></app-coaches>
  }

  @if (selectedTab === 'Courses') {
    <app-courses></app-courses>
  }

  @if (selectedTab === 'Locations') {
    <app-locations></app-locations>
  }

  @if (selectedTab === 'Organizations') {
    <app-organizations></app-organizations>
  }
</div>

