<mat-form-field appearance="outline" class="full-width">
  <mat-label>Tags</mat-label>
  <mat-chip-grid #chipGrid [disabled]="disabled">
    <mat-chip-row *ngFor="let tag of value" (removed)="removeTag(tag)">
      {{ tag.tag }}
      <button matChipRemove type="button">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>
  <input
    #tagInput
    #autoTrigger="matAutocompleteTrigger"
    [placeholder]="placeholder"
    [formControl]="inputControl"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
    (matChipInputTokenEnd)="commitTyped($event, autoTrigger)">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event, tagInput)">
    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">{{ option.tag }}</mat-option>
  </mat-autocomplete>
</mat-form-field>
