.active-template {
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #fff;
}

.table-scroll {
  overflow-x: auto;
}

.newsletters-table {
  width: 100%;
}

.actions-column {
  text-align: right;
}

.newsletters-table .mat-mdc-row:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}
