<app-popup-header [formGroup]="form" [title]="(isEdit ? 'EDIT' : 'ADD') + ' MONTHLY NEWSLETTER'" [showCloseButton]="true" (closed)="onCancel()">
  <mat-slide-toggle popup-header-actions formControlName="isActive">Live</mat-slide-toggle>
</app-popup-header>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="datePicker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Url</mat-label>
    <input matInput formControlName="url">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" [disabled]="inProgress$ | async" (click)="onCancel()">CANCEL</button>
  <app-indicator-button
    title="SAVE"
    [isInProgress]="inProgress$ | async"
    [disabled]="inProgress$ | async"
    (onClick)="onSave()">
  </app-indicator-button>
</mat-dialog-actions>
