<div class="agenda-toolbar">
  <button mat-icon-button type="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" matTooltip="Previous">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-stroked-button type="button" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
  <button mat-icon-button type="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" matTooltip="Next">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <h3 class="agenda-toolbar__title">{{ viewDate | calendarDate: 'weekViewTitle' : 'en' }}</h3>
  <span class="agenda-toolbar__spacer"></span>
  <button mat-raised-button color="primary" type="button" (click)="openDialog(null, viewDate)">
    <mat-icon>add</mat-icon>
    Add Agenda Item
  </button>
</div>

<div class="agenda-calendar">
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [daysInWeek]="3"
    [dayStartHour]="9"
    [hourSegments]="4"
    (eventClicked)="onEventClicked($event)"
    (eventTimesChanged)="onEventTimesChanged($event)"
    (hourSegmentClicked)="openDialog(null, $event.date)">
  </mwl-calendar-week-view>
</div>
