<app-list-header [title]="itemType + 's'" [actions]="actions"></app-list-header>

<div class="table-scroll">
<app-table-loading-overlay [loading]="loading$ | async"></app-table-loading-overlay>
<table mat-table [dataSource]="(images$ | async) ?? []" class="images-table">
  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef>Live</th>
    <td mat-cell *matCellDef="let item">
      <span class="active-template" [style.background-color]="item.isActive ? '#29d029' : 'red'">
        {{ item.isActive ? 'LIVE' : 'INACTIVE' }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef>Order</th>
    <td mat-cell *matCellDef="let item">{{ item.order }}</td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let item">
      <img *ngIf="item.image" width="100" [src]="item.image.url" [alt]="item.image.name">
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let item">{{ item.date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let item">{{ item.title }}</td>
  </ng-container>

  <ng-container matColumnDef="ctaTitle">
    <th mat-header-cell *matHeaderCellDef>Button Title</th>
    <td mat-cell *matCellDef="let item">{{ item.ctaTitle }}</td>
  </ng-container>

  <ng-container matColumnDef="ctaDestination">
    <th mat-header-cell *matHeaderCellDef>Button Internal Destination</th>
    <td mat-cell *matCellDef="let item">{{ item.ctaDestination }}</td>
  </ng-container>

  <ng-container matColumnDef="ctaUrl">
    <th mat-header-cell *matHeaderCellDef>Button External URL</th>
    <td mat-cell *matCellDef="let item">{{ item.ctaUrl }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-column">Actions</th>
    <td mat-cell *matCellDef="let item" class="actions-column">
      <button mat-icon-button matTooltip="DELETE" (click)="delete(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Filter row: one operator+value filter per filterable column, mirroring dxo-filter-row -->
  <ng-container matColumnDef="isActive-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="order-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="numberOperators" type="number" (filterChange)="onFilterChange('order', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="image-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="date-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="dateOperators" type="date" (filterChange)="onFilterChange('date', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="title-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('title', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="ctaTitle-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('ctaTitle', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="ctaDestination-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('ctaDestination', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="ctaUrl-filter">
    <th mat-header-cell *matHeaderCellDef>
      <app-column-filter [operators]="textOperators" (filterChange)="onFilterChange('ctaUrl', $event)"></app-column-filter>
    </th>
  </ng-container>

  <ng-container matColumnDef="actions-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="showEditModal(row)"></tr>
</table>
</div>
