<mat-toolbar class="list-header">
  <h2 class="list-header__title">{{ title }}</h2>
  <span class="list-header__spacer"></span>

  <!-- Optional extra controls (e.g. a filter dropdown) between the title and
  the actions menu - most screens project nothing here. -->
  <ng-content></ng-content>

  @if (actions.length === 1) {
    <button mat-raised-button color="primary" (click)="actions[0].onClick()">
      @if (actions[0].icon) {
        <mat-icon>{{ actions[0].icon }}</mat-icon>
      }
      {{ actions[0].label }}
    </button>
  }

  @if (actions.length > 1) {
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Manage">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @for (action of actions; track action) {
        <button mat-menu-item (click)="action.onClick()">
          @if (action.icon) {
            <mat-icon>{{ action.icon }}</mat-icon>
          }
          <span>{{ action.label }}</span>
        </button>
      }
    </mat-menu>
  }
</mat-toolbar>
