<h3 class="panel-header__title">Affiliate Payments</h3>

<div class="table-scroll">
  <table mat-table [dataSource]="(affiliatePayments$ | async) ?? []" class="payments-table">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let item">{{ item.date | date }}</td>
    </ng-container>

    <ng-container matColumnDef="receipt">
      <th mat-header-cell *matHeaderCellDef>Receipt</th>
      <td mat-cell *matCellDef="let item">{{ item.receipt }}</td>
    </ng-container>

    <ng-container matColumnDef="amountPayed">
      <th mat-header-cell *matHeaderCellDef>Payed Amount</th>
      <td mat-cell *matCellDef="let item">{{ item.amountPayed | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['date', 'receipt', 'amountPayed']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['date', 'receipt', 'amountPayed'];"></tr>
  </table>
</div>
