<app-auth-card>
  <form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="auth-form__intro">Please enter your Password</div>

    <div class="auth-form__field">
      <input
        class="auth-form__input"
        type="password"
        formControlName="password"
        placeholder="Password"
        [disabled]="isLoading">
      <span class="auth-form__invalid-badge" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">!</span>
    </div>

    <button type="submit" class="auth-form__submit" [disabled]="isLoading">
      <mat-progress-spinner *ngIf="isLoading; else notLoading" diameter="24" mode="indeterminate"></mat-progress-spinner>
      <ng-template #notLoading>Sign In</ng-template>
    </button>

    <div class="auth-form__link">
      <a routerLink="/reset-password">Forgot password?</a>
    </div>
  </form>
</app-auth-card>
