<app-popup-header [title]="(isEdit ? 'EDIT' : 'ADD') + ' CATEGORIES'" [showCloseButton]="true" (closed)="onCancel()"></app-popup-header>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Tag</mat-label>
    <input matInput formControlName="tag" required>
    <mat-error *ngIf="form.get('tag')?.hasError('required')">Tag is required</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" [disabled]="inProgress$ | async" (click)="onCancel()">CANCEL</button>
  <app-indicator-button
    title="SAVE"
    [isInProgress]="inProgress$ | async"
    [disabled]="inProgress$ | async"
    (clicked)="onSave()">
  </app-indicator-button>
</mat-dialog-actions>
